<!-- 
<section class="social-links">
	{{! RSS Feed }}
	<a class="icon-feed" href="{{@blog.url}}/rss" target="_blank">
		<i class="fa fa-rss"></i>
	</a>

	{{! Twitter }}
	<a class="icon-twitter" href="http://twitter.com/erictherobot" target="_blank">
		<i class="fa fa-twitter"></i>
	</a>

	{{! Facebook }}
	<a class="icon-facebook" href="http://facebook.com/erictherobot" target="_blank">
		<i class="fa fa-facebook"></i>
	</a>

	{{! Google Plus }}
	<a class="icon-google-plus" href="http://google.com/+EricDavidSmith" target="_blank">
		<i class="fa fa-google-plus"></i>
	</a>
	 {{! Github }}
        <a class="icon-github" href="http://github.com/erictherobot" target="_blank">
                <i class="fa fa-github"></i>
        </a>

</section>
-->
