{{!

    Renders:
      Theme Credits

}}
<!--
<div class="nav header-credits">
	<a href="http://themeforest.net/item/eston-a-simple-notebook-theme/9497657?ref=mikedidthis" target="_blank" class="nav-link">Eston by mikedidthis</a>
</div>
-->

